body {
   background-image: url(http://www.perini.com.au/images/0/0/lifestyle-las-vegas-floors-3.jpg);
   background-color: #d6c7c7;
   width: 100%;
}

/* .container {
  font-family: 'Major Mono Display', monospace;
  min-width: 100%;
  display: flex;
  flex: wrap;
  justify-content: space-between;
  position: sticky;
  top: 0; 
  z-index: 1;
  height: 100px;
  border: solid 2px black;
} */

a:link {
  color: #B4D7A2; 
  background-color: transparent; 
  text-decoration: none;
}

/* a:visited {
  color: #B4D7A2;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #d6c7c7;
  background-color: transparent;
  text-decoration: none;
} */

.github {
  padding-right: 50px;
}

.title1 {
  width: 33%;
  text-align: right;
  font-size: 20px;
  color: black;
  background-color: #B4D7A2;
  padding: 3px 10px;
}

.title2 {
  width: 33%;
  color: #B4D7A2;
  background-color: black;
  padding-top: 15px;
  font-size: 20px;
  display: inline-block;
}

.title3 {
  padding-bottom: 0px;
  width: 33%;
  color: #B4D7A2;
  background-color: black; 
 

}

h4 {
  text-align: center;
  color: #B4D7A2;
  background-color: black;
  margin: 0px;
  padding-top: 25px;
}

/* .skillsContainer {

} */

.skillsProficient {
  float: left;
}

/* .skillsFamiliar {
} */

.skill1 {
  display: inline-flex;

}

.skill2 {
  display: inline-flex;

}

.skill3 {
  display: inline-flex;

}

.skill4 {
  display: inline-flex;
  float: right;
  margin-right: 50px;
}

.intro {
  display: flex;
  flex: wrap;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 10px 150px 20px 150px;
  padding: 5px;
  font-family: 'Roboto Mono', monospace;
  border-style: solid;
  box-shadow: 10px 10px;
  background-color: #ffdab9;
}

.signature {
  display: flex;
  flex: wrap;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: -25px;
}

.face {
  box-shadow: 0px 0px 15px 0px;
  margin: 10px;
}

.skillsContainer {
  font-family: 'Roboto Mono', monospace;
  border-style: solid;
  box-shadow: 10px 10px;
  margin: 10px 200px 20px 200px;
  padding: 10px;
  background-color:	#EDBBB4;
}

.myWork {
  font-family: 'Roboto Mono', monospace;
  border-style: solid;
  box-shadow: 10px 10px;
  width: 1180px;
  margin: 20px;
  padding: 10px;
  background-color: #351431;
}

.myWorkTitle {
  font-family: 'Roboto Mono', monospace;
  margin: 20px 20px 0px 20px;
  color: rgb(234, 231, 240);
}

.thirdHalfUnderline {
  margin: 10px 20px 0px 20px;
  border: solid 2px black;
}

.myWorkAppTitle {
  font-family: 'Roboto Mono', monospace;
  margin: 15px;
  color: rgb(234, 231, 240);
}

.myWorkCards {
  font-family: 'Roboto Mono', monospace;
  border: solid black 2px;
  margin: 10px;
  padding: 10px;
  background-color: #485aa2;
  width: 520px;
  height: 330px;
  display: inline-block;
}

.myWorkCards:hover {
  border: solid white 2px;
}

.myWorkDescription {
  margin: 10px 20px;
  font-family: 'Roboto Mono', monospace;
  color: white;
}

/* .goatGallery {
  font-family: 'Roboto Mono', monospace;
  border-style: solid;
  margin: 10px 10px 10px 330px ;
  padding: 10px;
  background-color: #485aa2;
}

.movie {
  font-family: 'Roboto Mono', monospace;
  border-style: solid;
  margin: 10px 170px 10px 170px ;
  padding: 10px;
  background-color: #485aa2;
}

.feedback {
  font-family: 'Roboto Mono', monospace;
  border-style: solid;
  margin: 10px 330px 10px 10px;
  padding: 10px;
  background-color: #485aa2;
} */

.screenshot {
  width: 500px;
  height: 245px; 
  margin-left: 15px;
  margin-right: 15px;
  border: solid 1px white;
}

.experience {
  font-family: 'Roboto Mono', monospace;
  color: black;
  border: solid black;
  box-shadow: 10px 10px black;
  margin: 10px 400px 10px 10px ;
  padding: 10px;
  background-color: rgb(228, 130, 106);
}

.title {
  border-bottom: solid black;
}

.details {
  display: flex;
  flex: wrap;
  justify-content: space-between;
  background-color: black;
  height: 70px;
  padding-left: 10px; 
  padding-right: 10px;
  
}

.job-title {
  font-weight: bold;
}

.community-involvement {
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
  border-style: solid;
  box-shadow: 10px 10px;
  margin: 10px 200px 10px 200px;
  padding: 10px;
  background-color: #FCDE9C;
}

.education {
  font-family: 'Roboto Mono', monospace;
  border: solid black 3px;
  color: black;
  box-shadow: 10px 10px black;
  margin: 20px 10px 10px 400px;
  padding: 10px;
  background-color: #8FA998;
}

.references {
  font-family: 'Roboto Mono', monospace;
  border-style: solid;
  box-shadow: 10px 10px;
  margin: 20px 380px 20px 380px;
  padding: 10px;
  background-color: #D0C9EA;
}

.educationDate {
  float: right;
}

hr {
  background-color: black;
  border: solid 1px black;
}

.face {
  min-width:160px;
  max-width: 160px;
  min-height:230px; 
  max-height: 230px;
  float:right;
}

.title2GitHub {
  display: inline-block;
  margin-left: 130px;
  margin-right: 50px;
  width: 50px;
}



.title2GitHub:hover {
  border-bottom: solid white 10px;
  padding-bottom: 15px;
  margin-right: 50px;
}

.title2LinkedIn {
  display: inline-block;  
  margin-left: 60px;

}

.title2LinkedIn:hover {
  border-bottom: solid white 10px;
  padding-bottom: 15px;
}

.githublogo {
  width: 50px;
  height: 50px;
  padding-top: 10px;
}



.linkedin-logo1 {
  width: 50px;
  height: 50px;
  margin: 0px;
  padding-top: 10px;
}


.hvr-grow {
  margin-top: 20px;
  margin-left: 35px;
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}


/* Galaxy S5 */
/* @media only screen and (min-width: 360px) and (min-height: 640px) {
 
} */

/* Pixel 2 */
/* @media only screen and (min-width: 411px) and (min-height: 731px) {
 
} */

/* Pixel 2 XL*/
/* @media only screen and (min-width: 411px) and (min-height: 823px) {
 
} */
/* iPhone 5/SE*/
/* @media only screen and (min-width: 375px) and (min-height: 667px) {
 
} */
/* iPhone 6/7/8 */
/* @media only screen and (min-width: 375px) and (min-height: 667px) {
 
} */
/* iPhone 6/7/8 Plus */
/* @media only screen and (min-width: 414px) and (min-height: 736px) {
 
} */
/* iPhone X */ 
/* @media only screen and (min-width: 375px) and (min-height: 812px) {
  .container {
    font-family: 'Major Mono Display', monospace;
    font-size: 20px;
    min-width: 1024px;
    display: flex;
    flex: wrap;
    justify-content: space-between;
    position: sticky;
    top: 0; 
    z-index: 1;
    min-height: 250px;
    border: solid 2px black;
  }
  body {
    width: 1220px;
 }
 .title1 {
  width: 33%;
  text-align: right;
  font-size: 40px;
  color: black;
  background-color: #B4D7A2;
  padding: 3px 10px;
}
} */
/* iPad  */
/* @media only screen and (min-width: 768px) and (min-height: 1024px) {
  .container {
    font-family: 'Major Mono Display', monospace;
    min-width: 768px;
    display: flex;
    flex: wrap;
    justify-content: space-between;
    position: sticky;
    top: 0; 
    z-index: 1;
    height: 100px;
    border: solid 2px black;
  }
} */
/* iPad Pro */
/* @media only screen and (min-width: 1024px) and (min-height: 1366px) {
  .container {
    font-family: 'Major Mono Display', monospace;
    min-width: 1024px;
    display: flex;
    flex: wrap;
    justify-content: space-between;
    position: sticky;
    top: 0; 
    z-index: 1;
    height: 100px;
    border: solid 2px black;
  }
  body {
    background-image: url(http://www.perini.com.au/images/0/0/lifestyle-las-vegas-floors-3.jpg);
    background-color: #d6c7c7;
    width: 1024px;
 }
} */
/* Laptop */
@media only screen and (min-width: 768px) {
  .container {
  font-family: 'Major Mono Display', monospace;
  min-width: 85%;
  display: flex;
  flex: wrap;
  justify-content: space-between;
  position: sticky;
  top: 0; 
  z-index: 1;
  height: 100px;
  border: solid 2px black;
  margin-left: 5px;
  margin-right: 5px;
}

.intro {
  display: flex;
  flex: wrap;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 10px 150px 20px 150px;
  padding: 5px;
  font-family: 'Roboto Mono', monospace;
  border-style: solid;
  box-shadow: 10px 10px;
  background-color: #ffdab9;
  height: 475px;
}

.signature {
  display: flex;
  flex: wrap;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: -25px;
}

.face {
  box-shadow: 0px 0px 15px 0px;
  margin: 10px;
}
}